<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HwWorkerMapper">

    <resultMap type="HwWorker" id="HwWorkerResult">
        <id     property="workerId"      column="worker_id"       />
        <result property="workerName"    column="worker_name"     />
        <result property="idCard"        column="id_card"         />
        <result property="phone"         column="phone"           />
        <result property="roleType"      column="role_type"       />
        <result property="unitType"      column="unit_type"       />
        <result property="isFixedSite"   column="is_fixed_site"   />
        <result property="checkRule"     column="check_rule"      />
        <result property="qualification" column="qualification"   />
        <result property="qualFileUrl"   column="qual_file_url"   />
        <result property="qualStatus"    column="qual_status"     />
        <result property="faceImage"     column="face_image"      />
        <result property="faceStatus"    column="face_status"     />
        <result property="openId"        column="open_id"         />
        <result property="status"        column="status"          />
        <result property="createBy"      column="create_by"       />
        <result property="createTime"    column="create_time"     />
        <result property="updateBy"      column="update_by"       />
        <result property="updateTime"    column="update_time"     />
        <result property="remark"        column="remark"          />
    </resultMap>

    <sql id="selectHwWorkerVo">
        select worker_id, worker_name, id_card, phone, role_type, unit_type, is_fixed_site,
               check_rule, qualification, qual_file_url, qual_status, face_image, face_status,
               open_id, status, create_by, create_time, update_by, update_time, remark
        from hw_worker
    </sql>

    <select id="selectHwWorkerList" parameterType="HwWorker" resultMap="HwWorkerResult">
        <include refid="selectHwWorkerVo"/>
        <where>
            <if test="workerName != null and workerName != ''">
                AND worker_name like concat('%', #{workerName}, '%')
            </if>
            <if test="roleType != null and roleType != ''">
                AND role_type = #{roleType}
            </if>
            <if test="unitType != null and unitType != ''">
                AND unit_type = #{unitType}
            </if>
            <if test="qualStatus != null and qualStatus != ''">
                AND qual_status = #{qualStatus}
            </if>
        </where>
    </select>

    <select id="selectHwWorkerById" parameterType="Long" resultMap="HwWorkerResult">
        <include refid="selectHwWorkerVo"/>
        where worker_id = #{workerId}
    </select>

    <insert id="insertHwWorker" parameterType="HwWorker" useGeneratedKeys="true" keyProperty="workerId">
        insert into hw_worker(
            <if test="workerName != null and workerName != ''">worker_name,</if>
            <if test="idCard != null and idCard != ''">id_card,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="roleType != null and roleType != ''">role_type,</if>
            <if test="unitType != null and unitType != ''">unit_type,</if>
            <if test="isFixedSite != null">is_fixed_site,</if>
            <if test="checkRule != null and checkRule != ''">check_rule,</if>
            <if test="qualification != null and qualification != ''">qualification,</if>
            <if test="qualFileUrl != null and qualFileUrl != ''">qual_file_url,</if>
            <if test="qualStatus != null and qualStatus != ''">qual_status,</if>
            <if test="faceImage != null and faceImage != ''">face_image,</if>
            <if test="faceStatus != null and faceStatus != ''">face_status,</if>
            <if test="openId != null and openId != ''">open_id,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        )values(
            <if test="workerName != null and workerName != ''">#{workerName},</if>
            <if test="idCard != null and idCard != ''">#{idCard},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="roleType != null and roleType != ''">#{roleType},</if>
            <if test="unitType != null and unitType != ''">#{unitType},</if>
            <if test="isFixedSite != null">#{isFixedSite},</if>
            <if test="checkRule != null and checkRule != ''">#{checkRule},</if>
            <if test="qualification != null and qualification != ''">#{qualification},</if>
            <if test="qualFileUrl != null and qualFileUrl != ''">#{qualFileUrl},</if>
            <if test="qualStatus != null and qualStatus != ''">#{qualStatus},</if>
            <if test="faceImage != null and faceImage != ''">#{faceImage},</if>
            <if test="faceStatus != null and faceStatus != ''">#{faceStatus},</if>
            <if test="openId != null and openId != ''">#{openId},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>

    <update id="updateHwWorker" parameterType="HwWorker">
        update hw_worker
        <set>
            <if test="workerName != null and workerName != ''">worker_name = #{workerName},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="roleType != null and roleType != ''">role_type = #{roleType},</if>
            <if test="unitType != null and unitType != ''">unit_type = #{unitType},</if>
            <if test="isFixedSite != null">is_fixed_site = #{isFixedSite},</if>
            <if test="checkRule != null and checkRule != ''">check_rule = #{checkRule},</if>
            <if test="qualification != null">qualification = #{qualification},</if>
            <if test="qualFileUrl != null">qual_file_url = #{qualFileUrl},</if>
            <if test="qualStatus != null and qualStatus != ''">qual_status = #{qualStatus},</if>
            <if test="faceImage != null">face_image = #{faceImage},</if>
            <if test="faceStatus != null and faceStatus != ''">face_status = #{faceStatus},</if>
            <if test="openId != null">open_id = #{openId},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where worker_id = #{workerId}
    </update>

    <delete id="deleteHwWorkerById" parameterType="Long">
        delete from hw_worker where worker_id = #{workerId}
    </delete>

    <delete id="deleteHwWorkerByIds" parameterType="Long">
        delete from hw_worker where worker_id in
        <foreach collection="array" item="workerId" open="(" separator="," close=")">
            #{workerId}
        </foreach>
    </delete>

    <select id="selectHwWorkerByUserId" parameterType="long" resultMap="HwWorkerResult">
        select * from hw_worker where worker_id = #{userId} and status = '0'
    </select>

</mapper>
