<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbWorkerRoleMapper">

    <resultMap type="TbWorkerRole" id="TbWorkerRoleResult">
        <result property="id"    column="id"    />
        <result property="roleCode"    column="role_code"    />
        <result property="roleName"    column="role_name"    />
        <result property="unitType"    column="unit_type"    />
        <result property="fixedSiteFlag"    column="fixed_site_flag"    />
        <result property="needSignIn"    column="need_sign_in"    />
        <result property="needSignOut"    column="need_sign_out"    />
        <result property="needHourlyCheck"    column="need_hourly_check"    />
        <result property="hourlyInterval"    column="hourly_interval"    />
        <result property="needCert"    column="need_cert"    />
        <result property="certType"    column="cert_type"    />
        <result property="isSelfCheckin"    column="is_self_checkin"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTbWorkerRoleVo">
        select id, role_code, role_name, unit_type, fixed_site_flag, need_sign_in, need_sign_out, need_hourly_check, hourly_interval, need_cert, cert_type, is_self_checkin, status, create_by, create_time, update_by, update_time, remark from tb_worker_role
    </sql>

    <select id="selectTbWorkerRoleList" parameterType="TbWorkerRole" resultMap="TbWorkerRoleResult">
        <include refid="selectTbWorkerRoleVo"/>
        <where>
            <if test="roleCode != null  and roleCode != ''"> and role_code like concat('%', #{roleCode}, '%')</if>
            <if test="roleName != null  and roleName != ''"> and role_name like concat('%', #{roleName}, '%')</if>
            <if test="unitType != null  and unitType != ''"> and unit_type = #{unitType}</if>
            <if test="fixedSiteFlag != null  and fixedSiteFlag != ''"> and fixed_site_flag = #{fixedSiteFlag}</if>
            <if test="needSignIn != null  and needSignIn != ''"> and need_sign_in = #{needSignIn}</if>
            <if test="needSignOut != null  and needSignOut != ''"> and need_sign_out = #{needSignOut}</if>
            <if test="needHourlyCheck != null  and needHourlyCheck != ''"> and need_hourly_check = #{needHourlyCheck}</if>
            <if test="hourlyInterval != null "> and hourly_interval = #{hourlyInterval}</if>
            <if test="needCert != null  and needCert != ''"> and need_cert = #{needCert}</if>
            <if test="certType != null  and certType != ''"> and cert_type = #{certType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectTbWorkerRoleById" parameterType="Long" resultMap="TbWorkerRoleResult">
        <include refid="selectTbWorkerRoleVo"/>
        where id = #{id}
    </select>

    <insert id="insertTbWorkerRole" parameterType="TbWorkerRole" useGeneratedKeys="true" keyProperty="id">
        insert into tb_worker_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleCode != null and roleCode != ''">role_code,</if>
            <if test="roleName != null and roleName != ''">role_name,</if>
            <if test="unitType != null">unit_type,</if>
            <if test="fixedSiteFlag != null">fixed_site_flag,</if>
            <if test="needSignIn != null">need_sign_in,</if>
            <if test="needSignOut != null">need_sign_out,</if>
            <if test="needHourlyCheck != null">need_hourly_check,</if>
            <if test="hourlyInterval != null">hourly_interval,</if>
            <if test="needCert != null">need_cert,</if>
            <if test="certType != null">cert_type,</if>
            <if test="isSelfCheckin != null">is_self_checkin,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleCode != null and roleCode != ''">#{roleCode},</if>
            <if test="roleName != null and roleName != ''">#{roleName},</if>
            <if test="unitType != null">#{unitType},</if>
            <if test="fixedSiteFlag != null">#{fixedSiteFlag},</if>
            <if test="needSignIn != null">#{needSignIn},</if>
            <if test="needSignOut != null">#{needSignOut},</if>
            <if test="needHourlyCheck != null">#{needHourlyCheck},</if>
            <if test="hourlyInterval != null">#{hourlyInterval},</if>
            <if test="needCert != null">#{needCert},</if>
            <if test="certType != null">#{certType},</if>
            <if test="isSelfCheckin != null">#{isSelfCheckin},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTbWorkerRole" parameterType="TbWorkerRole">
        update tb_worker_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleCode != null and roleCode != ''">role_code = #{roleCode},</if>
            <if test="roleName != null and roleName != ''">role_name = #{roleName},</if>
            <if test="unitType != null">unit_type = #{unitType},</if>
            <if test="fixedSiteFlag != null">fixed_site_flag = #{fixedSiteFlag},</if>
            <if test="needSignIn != null">need_sign_in = #{needSignIn},</if>
            <if test="needSignOut != null">need_sign_out = #{needSignOut},</if>
            <if test="needHourlyCheck != null">need_hourly_check = #{needHourlyCheck},</if>
            <if test="hourlyInterval != null">hourly_interval = #{hourlyInterval},</if>
            <if test="needCert != null">need_cert = #{needCert},</if>
            <if test="certType != null">cert_type = #{certType},</if>
            <if test="isSelfCheckin != null">is_self_checkin = #{isSelfCheckin},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbWorkerRoleById" parameterType="Long">
        delete from tb_worker_role where id = #{id}
    </delete>

    <delete id="deleteTbWorkerRoleByIds" parameterType="String">
        delete from tb_worker_role where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
